@model EnerProf.Models.Product
@using EnerProf.Models;
@{
 
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
<!-- single -->
<script src="~/js/imagezoom.js"></script>
<script src="~/js/jquery.flexslider.js"></script>
<!-- single -->
<!-- cart -->
<script src="~/js/simpleCart.min.js"></script>
<!-- cart -->

<!--Чиж, это не удаляй! Отвечает за отправку отзыва-->
<!--comment-->
<script>
    function AddComment() {
        alert();
        var name = $("#comment_name").val();
        var mail = $("#comment_mail").val();
        var text = $("#comment_text").val();
        $.get("/Home/AddComment?name=" + name + "&mail=" + mail + "&text=" + text + "&product_id="+@Model.ID);
        //!!!!Ромка, вот тут сделай что бы сверху появлялось какое-то окошко типа "Ваш отзыва успешно добавлен"!!!!
    }
</script>


<!-- //banner -->
<!-- single -->
<div class="single">
    <div class="container">
        <div class="col-md-6 single-right-left animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
            <div class="grid images_3_of_2">
                <div class="flexslider">
                    <!-- FlexSlider -->
                    <script>

							$(window).load(function() {
								$('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
								});
							});
                    </script>
                    <!-- //FlexSlider-->
                    <ul class="slides">
                        @foreach (string img in Model.Images.Split(';'))
                        {
                            <li data-thumb="@img">
                                <div class="thumb-image"> <img src="@img" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        }
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 single-right-left simpleCart_shelfItem animated wow slideInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInRight;">
            <h3>@Model.Name</h3>

            <p><span class="item_price"></span> </del></p> <!--Place for future price in case if Igor wish-->
            @*<div class="rating1">
                <span class="starRating">
                    <input id="rating5" type="radio" name="rating" value="5">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" name="rating" value="3" checked="">
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                </span>
            </div>*@
            <div class="description">
                <h5>RC серия</h5>
                <p>
                    <span>

                        Нагрузка : 5-95 тонн;<br>
                        Длина хода : 16 - 362;<br>
                        Максимальное рабочее давление : 700 бар
                    </span>
                </p>

            </div>

            <!--<div class="occasion-cart">
                <a href="#" class="item_add hvr-outline-out button2">Заказать</a>
            </div>-->

        </div>
        <div class="clearfix"> </div>

        <div class="bootstrap-tab animated wow slideInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInUp;">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Описание</a></li>
                    <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Отзывы</a></li>
                    <li role="presentation" class="dropdown">
                        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Информация<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                            <li><a href="#dropdown1" tabindex="-1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">Особенности</a></li>
                            <li><a href="#dropdown2" tabindex="-1" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">Характеристики</a></li>
                        </ul>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active bootstrap-tab-text" id="home" aria-labelledby="home-tab">
                        @Html.Raw(Model.Description)
                    </div>
                    <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="profile" aria-labelledby="profile-tab">
                        <div class="bootstrap-tab-text-grids">
                            @foreach (Comment comment in Model.Comments)
                            {
                                <div class="bootstrap-tab-text-grid">
                                    <div class="bootstrap-tab-text-grid-left">
                                        <img src="@comment.Img" alt=" " class="img-responsive">
                                    </div>
                                    <div class="bootstrap-tab-text-grid-right">
                                        <ul>
                                            <li><a href="#">@comment.Name</a></li>
                                            <li><a href="#"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>Ответить</a></li>
                                        </ul>
                                        <p>@comment.Text</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            }

                            <div class="add-review">
                                <h4>Добавить отзыв</h4>
                                    <input type="text" id="comment_name" value="Имя" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Имя';}" required="">
                                    <input type="email" id="comment_mail" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">

                                    <textarea type="text" id="comment_text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Сообщение...';}" required="">Сообщение...</textarea>
                                    <input type="button" onclick="AddComment()" value="Отправить">
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="dropdown1" aria-labelledby="dropdown1-tab">
                        <p>
                            <span>
                                Опорная система GR2 поглощает боковые нагрузки, что предотвращает стирание деталей цилиндра<br>
                                Резьба на кольце, на штоке, а также монтажные отверстия на опоре позволяют легко закрепить цилиндр (в большинстве моделей)<br>
                                Предназначены для использования в любом положении<br>
                                Изготовлены из высокопрочного стального сплава<br>
                                Большинство моделей могут иметь никелированное покрытие (за подробностями обратитесь в Enerpac)<br>
                                Высокопрочная возвратная пружина<br>
                                Для защиты от коррозии покрыты эмалью горячей сушки<br>
                                Полумуфта CR-400 и пылезащитный колпачок входят во все модели<br>
                                Грязесъемное кольцо очищает шток от загрязнений, тем самым увеличивается срок службы изделия.
                            </span>
                        </p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade bootstrap-tab-text" id="dropdown2" aria-labelledby="dropdown2-tab">
                        <p>
                            <strong>RC серия</strong><br>

                            Нагрузка : 5-95 тонн;<br>

                            Длина хода : 16 - 362;<br>

                            Максимальное рабочее давление : 700 бар
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //single -->
<!-- //product-nav -->
<div class="coupons">
    <div class="container">
        <div class="coupons-grids text-center">
            <div class="col-md-3 coupons-gd">
                <h3>Найти решение для задачи - легко</h3>
            </div>
            <div class="col-md-3 coupons-gd">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <h4>Выберите товар</h4>
                <p>У нас большой ассортимент грузоподъемного и гидравлического оборудования.</p>
            </div>
            <div class="col-md-3 coupons-gd">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <h4>Свяжитесь с нами</h4>
                <p>Наши профессионалы ответят на любой вопрос.</p>
            </div>
            <div class="col-md-3 coupons-gd">
                <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                <h4>Оплатите</h4>
                <p>Забрать товар можно самовывозом или доставкой.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>